@import url(//fonts.googleapis.com/css?family=Montserrat);
* {
  position: absolute;
  font-family: Montserrat;
  font-weight: 600;
  color: #ee8b72;
}
.title {
  left: 7.87%;
  right: 15.73%;
  top: 5%;
  bottom: 86.13%;

  font-size: 40px;
}
.line-1 {
  left: 0%;
  right: 80%;
  top: 27.23%;
  bottom: 76.77%;

  border: 2px solid;
  transform: rotate(90deg);
}
.one-year {
  left: 14.23%;
  right: 25.47%;
  top: 22%;
  bottom: 70.65%;

  font-size: 22px;
  line-height: 22px;
}
.goal-1 {
  left: 14.23%;
  right: 9.36%;
  top: 28%;
  bottom: 55.48%;

  font-weight: 500;
  font-size: 20px;
  line-height: 18px;

  color: #4b5853;
}
.line-2 {
  left: 0%;
  right: 80%;
  top: 54.19%;
  bottom: 45.81%;

  border: 2px solid;
  transform: rotate(90deg);
}
.five-years {
  left: 14.23%;
  right: 25.47%;
  top: 48%;
  bottom: 38.39%;

  font-size: 22px;
  line-height: 22px;
}
.goal-2 {
  left: 14.23%;
  right: 9.36%;
  top: 54%;
  bottom: 55.48%;

  font-weight: 500;
  font-size: 20px;
  line-height: 18px;

  color: #4b5853;
}
